<html>
    <head>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
    </head>
<h1>
    {{centro.nombre}}
</h1>
<h2>Codigo postal:</h2>
<p>{{centro.codigo_Postal}}</p>
<h2>
    Media obesidad de centro:
</h2>
<p id="mGrasa">{{total}}%</p>
<p id="mVis">{{total2}}%</p>
<canvas id="densityChart" width="600" height="400"></canvas>
<script>
    var densityCanvas = document.getElementById("densityChart");
var mg= document.getElementById("mGrasa");
var mv= document.getElementById("mVis");
parseFloat(mv);
parseFloat(mg);

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var densityData = {
  label: 'Datos de obesidad',
  data: [{{total}}, {{total2}}]
};

var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: {
    labels: ["Masa Grasa", "Masa Visceral"],
    datasets: [densityData]
  }
});
</script>
</html>>